@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

html {
  background-color: #f2f2f2;
}

app-home {
  position: absolute;
  height: 100%;
}
