* {
  text-align: center;
}

mat-card {
  height: 500px;
  overflow: scroll;
  position: relative;
  top: 10%;
  width: 50%;
  margin: auto;
}

hr {
  width: 80%;
  height: 1px;
  background-color: black;
  border: none;
}

.what-why-title {
  font-weight: 500;
  font-size: 25px;
}

.what {
  padding-bottom: 50px;
}
