mat-card {
  height: 550px;
  overflow: scroll;
  position: relative;
  top: 10%;
  width: 50%;
  margin: auto;
}

hr {
  width: 80%;
  height: 1px;
  background-color: black;
  border: none;
}

.what-why-title {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

.lightbulb {
  color: white;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #223e91;
}

.what {
  padding-bottom: 50px;
}

/deep/ .mat-step-icon {
  background-color: #223e91 !important;
}
