<mat-card>

<mat-vertical-stepper>
  <mat-step [completed]="false" *ngFor="let task of tasks">
    <ng-template class="title" matStepLabel>{{task.title}}</ng-template>
    <div class="what-why-title"><i class="material-icons lightbulb">grade</i>What to do</div>
    <hr>
    <div class="what">{{task.what}}</div>
    <div class="what-why-title"><i class="material-icons lightbulb">lightbulb_outline</i>Why you should do this</div>
    <hr>
    <div class="why">{{task.why}}</div>
  </mat-step>
</mat-vertical-stepper>

</mat-card>
